/* src/pages/MyArchivePage.css */
.my-archive-page {
    padding: 20px;
    color: #333;
    background-color: #ede7f6;
}

.my-archive-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.my-archive-page p {
    font-size: 16px;
}
